<div class="row spaced">
    <div class="a-headline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, libero?</div>
    <hr style="width: 100%; background:slategray; color: slategray" />
    <div class="a-body">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab nulla a quasi sunt nemo
        asperiores
        blanditiis facere ut. Perspiciatis consectetur ratione velit aut placeat nisi a vero blanditiis quod laudantium.
    </div>
    <div class="a-link">http://www.google.com</div>
    <div class="a-comment"><button>Click here to comment</button></div>
</div>