<nav class="header-container">
    <div class="header-img">
        <img src="./images/prowler.png" alt="Prowler portrait" />
    </div>
    <div class="textContainer">
        <div id="headerText">
            WEB PROWLER
        </div>
    </div>

    <div class="header-link">
        <span onclick="location.href='/news'" class="link">News/Politics</span>
        <div onclick="location.href='/coding'" class="link">Coding</div>
        <div onclick="location.href='/gaming'" class="link">Gaming</div>
    </div>

</nav>