<nav class="header-container">
    <img src="" alt="" />
    <div class="header-links">
        <button class="link">News/Politics</button>
        <button class="link">Coding</button>
        <button class="link">Gaming</button>
    </div>
</nav>