<nav class="header-container">
    <div class="header-img">
        <img src="./images/prowler.png" alt="Prowler portrait" />
    </div>
    <div class="textContainer">
        <div id="headerText">
            WEB PROWLER
        </div>
    </div>

    <div class="header-links">
        <button class="link">News/Politics</button>
        <button class="link">Coding</button>
        <button class="link">Gaming</button>
    </div>
</nav>