{{> navbar}}
<h1 value="gaming" class="gheader art" style="background:black">Gaming</h1>
<button class="gheader art" id="updator">Update</button>
{{#each results}}
{{> articlesTable}}
{{/each}}

{{> modal}}
{{> footer}}