{{> navbar}}

<h1 class="gheader">Welcome!</h1>

<div class="row">
    <h2 class="column info">News/Politics gets articles from Truthdig.com.</h2>
    <h2 class="column info">Coding retrieves content from freeCodeCamp.</h2>
    <h2 class="column info">Gaming searches for Warframe news.</h2>
</div>

{{>footer}}