:root {
  --main-color: #8b358c;
  --secondary-color: #632973;
  --tertiary-color: #2e911c;
  --darkpurp: #241c40;
  --blackish: #0d0400;
}

@font-face {
  font-family: "kinifedregular";
  src: url("../font/kinifed_-webfont.woff2") format("woff2"),
    url("../font/kinifed_-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-size: cover;
  background-repeat: repeat-y;
  height: 100vh;
  background-image: radial-gradient(
    var(--blackish),
    var(--darkpurp),
    var(--tertiary-color)
  );
  color: var(--main-color);
}

a {
  color: var(--tertiary-color);
}
a:hover {
  color: slategray;
}

h1 {
  color: var(--main-color);
  font-size: 4rem;
}

h2 {
  color: var(--secondary-color);
  font-size: 3rem;
}

.header-container {
  display: grid;
  grid-template-columns: 10% 15% 75%;
  background: var(--blackish);
  padding: 0;
  border-bottom: 0.2rem solid var(--darkpurp);
}

.header-links {
  display: grid;
  grid-template-columns: space-between;
}

.header-img {
  max-width: 100%;
  background: var(--blackish);
  color: var(--main-color);
  text-align: left;
}

img {
  width: 100%;
  height: 100%;
}

.link {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1rem;
  color: transparent;
  background-image: linear-gradient(var(--main-color), var(--secondary-color));
  -webkit-background-clip: text;
  background-clip: text;
}

.link:hover {
  color: var(--tertiary-color);
  background: var(--darkpurp);
}
.textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
#headerText {
  width: fit-content;
  font-size: 2.5rem;
  text-align: center;
  color: transparent;
  background-image: linear-gradient(var(--main-color), var(--darkpurp));
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "kinifedregular";
}
.a-body,
.a-headline,
.a-link,
.a-comment {
  display: flex;
  justify-content: center;
  width: 100%;
}

.a-headline {
  font-size: 3rem;
  color: var(--main-color);
  background: var(--darkpurp);
}

#updator {
  font-size: 1.5rem;
}

#updator:hover,
#updator:focus {
  cursor: pointer;
  background-color: var(--darkpurp);
  color: var(--tertiary-color);
}
.spaced {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0.3rem solid slategray;
}

.a-body {
  font-size: 2rem;
  color: var(--secondary-color);
}

.a-link {
  margin: 0.5rem;
  font-size: 1.1rem;
  color: var(--tertiary-color);
}
.a-comment > button {
  font-size: 1.1rem;
  margin-top: 1rem;
  cursor: pointer;
  background-color: var(--blackish);
  color: var(--main-color);
  width: 100%;
  border: 0.1rem solid var(--darkpurp);
}

.a-comment > button:hover {
  background-color: var(--secondary-color);
  color: var(--blackish);
}

.row {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--darkpurp);
}

.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.gheader {
  text-align: center;
  width: 100%;
  color: var(--tertiary-color);
  background: var(--darkpurp);
}

.art {
  background: var(--blackish);
  color: var(--main-color);
}

.gfooter {
  padding-top: 0.1rem;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  background: var(--blackish);
}

.info {
  text-align: center;
  border: 0.2rem solid var(--main-color);
}

.modal {
  border: 3px solid var(--blackish);
  padding: 0.2rem;
  display: none;
  position: fixed;
  z-index: 1;
  left: 12%;
  top: 10%;
  width: 75%;
  height: 75%;
  overflow: auto;
  background-color: var(--darkpurp);
}
.modal-header {
  padding: 2rem;
  font-size: 2rem;
  text-align: center;
  color: var(--main-color);
}
.modal-footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.modal-footer > input {
  height: 3rem;
  font-size: 3rem;
  margin-top: 2rem;
  width: 90%;
}
.modal-footer > #addComment {
  background-color: var(--blackish);
  color: var(--main-color);
  font-size: 2.5rem;
}
.modal-footer > #addComment:hover,
#addComment:focus {
  cursor: pointer;
  background-color: var(--main-color);
  color: var(--blackish);
}
.comment-hr {
  height: 3px;
  width: 100%;
  border-top: 1px dashed slategray;
}
.del {
  float: right;
  color: var(--tertiary-color);
}
.del:hover {
  cursor: pointer;
  font-weight: bold;
}
.cDate {
  color: slategray;
}
.c {
  color: var(--secondary-color);
  font-size: 1.5rem;
}
.close-box {
  width: 100%;
  position: relative;
  bottom: 0;
}
#close {
  width: 100%;
  background-color: var(--blackish);
  margin-top: 2rem;
  color: var(--tertiary-color);
  font-size: 1.2rem;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: var(--secondary-color);
  background-color: var(--blackish);
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 700px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
